.userlistblock {
    border-left: 1px solid rgb(47, 51, 54);
    border-right: 1px solid rgb(47, 51, 54);
    min-height: 100vh;
    flex: 1 1 auto;
    max-width: 350px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    .title {
        display: flex;
        justify-content: space-between;
        .icons {
            padding-top: 2px;
            cursor: pointer;
        }
    }
};
.search {
    padding-top: 25px;
    position: relative;
    .svg {
        position: absolute;
        top: 37px;
        left: 15px;
        cursor: pointer;
    }
}

.input {
    background-color: black;
    border: 1px solid rgb(47, 51, 54);
    border-radius: 30px;
    width: 100%;
    padding: 7px 0px;
    padding-left: 40px;


    &:focus {
        border: 2px solid rgb(29, 155, 240);
        outline: none;
        color: white;
    }
}